In [15]:
import seaborn as sns
data = sns.load_dataset('tips')
data.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [16]:
class CompteBancaire:
    def __init__(self, nom= "Dupont",solde= 1000):
        self.nom = nom
        self.solde = solde
  #------------------------getters-------------------------#      
    def getNom(self):
        return self.nom
    def getSolde(self):
        return self.solde
  #------------------------setters------------------------#   
    def setNom(self, name):
        self.nom = name
    def setSolde (self, sld):
        self.solde = sld
  #------------------------méthodes-----------------------# 
        #---------dépot-----------#
    def depot(self,somme):
        sld_compte= self.getSolde()+somme
        self.setSolde(sld_compte)
        #---------retrait---------#
    def retrait(self,somme):
        sld_compte= self.getSolde()-somme
        self.setSolde(sld_compte)
        #---------affichage-------#
    def affiche(self):
        print("Le solde du compte bancaire de",self.getNom(),"est de",self.getSolde(),'euros')
        
compte1 = CompteBancaire("Duchmol", 800)
compte1.depot(350)
compte1.retrait(200)
compte1.affiche()

Le solde du compte bancaire de Duchmol est de 950 euros

In [17]:
compte2 = CompteBancaire()
compte2.depot(25)
compte2.affiche()

Le solde du compte bancaire de Dupont est de 1025 euros

In [19]:
class Point:
    def __init__(self,x,y,z=0.0):
        self.x= float(x)
        self.y= float(y)
        self.z= float(z)
    def getZ(self):
        return self.z
    def ToString(self):
        if not self.getZ() :
            print("P(",self.x,",",self.y,")")
        else : 
           print("P(",self.x,",",self.y,",",self.z,")")

In [20]:
P1=Point(2,3)
P1.ToString()

P( 2.0 , 3.0 )

In [21]:
P1=Point(2,3,4)
P1.ToString()

P( 2.0 , 3.0 , 4.0 )

In [ ]:
class DateNaissance:
    def __init__(self,jour,mois,année):
        self.jour = jour
        self.mois = mois
        self.année = année
    def __tostring__(self):
        jour.str()
        mois.str()
        année.str()